---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;
const PATHNAME = import.meta.env.VITE_BASE_URL || process.env.VITE_BASE_URL;
const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(PATHNAME, "");
const hrefPathname = href ? new URL(String(href), Astro.url).pathname : "";
const subpath = pathname.match(/[^\/]+/g);
const isActive =
  hrefPathname === pathname || hrefPathname === "/" + (subpath?.[0] || "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
